body {
  Lucida Sans Unicode, Helvetica, Arial,
  background-image: url("/Users/edu/github/WebProgramming/im/silverware.jpg");
  background-repeat: repeat;
}

#MainHeader {
  color: rgb(20, 20, 240);
}

#BulletDuck { list-style-image: url('im/duck3.png'); }

#Header {
  color: #A4A400;
  font: 15px Helvetica;
  text-decoration: underline;
  background-color: rgb(240, 240, 240);
}
