body {
  background-image: url("/Users/edu/github/WebProgramming/im/silverware.jpg");
  background-repeat: repeat;
}

#BulletDuck { list-style-image: url('im/duck3.png'); }

#Header { background-color: rgb(238, 238, 238); }
