body {
  color: #404040;
  background-image: url("im/silverware.jpg");
  background-repeat: repeat-y;
}

#MainHeader {
  color: #A4A400;
  font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(240, 240, 240)
}

#BulletDuck { list-style-image: url('im/duck3.png'); }

#Header {
  color: #A4A400;
  font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: underline;
  background-color: rgb(240, 240, 240);
}
