body {
  background-color: lightblue;
}

#MainHeader {
  color: #A4A400;
  font: 22px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(240, 240, 240)
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
