* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background-color: rgb(47, 50, 53);
  color: #e6e6e6;
}

/* Style the header */
header {
  background-color: rgb(47, 50, 53); /* GRIS FINAL */
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: #e6e6e6;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 33%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
article {
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(163, 18, 148);
  color: #e6e6e6;
  height: 300px; /* only for demonstration, should be removed */
}

article a {
  font: 22px "Avenir", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

article { /*Roasted Duck Recipie*/
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: rgb(123, 128, 18);
  color: #e6e6e6;
  height: 300px; /* only for demonstration, should be removed */
}

article {
  float: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  padding: 20px;
  width: 33%;
  background-color: rgb(13, 128, 158);
  color: #e6e6e6;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
