
p {
  margin-left: auto;
  margin-right: auto;
}

#puzzlearea {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
}

div {
  font-size: 24pt;
  height: 90px;
  width: 90px;
  cursor: pointer;
}

div.tile {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-color: black;
  line-height: 90px;
  color: white;
  font-family: Avenir;
}

div.hover {
  border: 5px solid;
  border-color: #c04360;
  color: #c04360;
}

#output {
  position: relative;
  margin: auto;
  width: 400px;
  height: 44px;
}

div.won {
  margin: auto;
  text-align: center;
  color: red;
  width: auto;
}

div.notwon {
  margin: auto;
  text-align: center;
  color: white;
  width: auto;
}

button#shufflebutton {
  margin-left: 30%;
  margin-right: 30%;
  height: 50px;
  width: 40%;
}
