p{

}
#front-door{
/*  your code*/
}
#kitchen{
	width: 300px;
	height:100px;
	border: 2px solid red;
  border-radius: 10px


    /*  finish here*/

}
#lounge{
	width: 300px;
	height:100px;
	border: 2px solid blue;
  border-radius: 10px
}

#bedroom{
	width: 300px;
	height:100px;

	border: 2px solid red;
  border-radius: 10px
}

#bathroom{
	width: 300px;
	height:100px;
	border: 2px solid red;
  border-radius: 10px
}
#freezer{
	width: 150px;
	height:50px;
	border: 2px solid red;
  border-radius: 10px
}
#fridge p
  {
    /*  finish here*/
}
#front-door #bathroom #sink p
  {
    /*  finish here*/
  }
