body  {/* SI */
  background-image: url("moviebg.png");
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 10pt;
}
h1  {/* SI */
  font-size: 24pt;
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
  text-shadow: 3px 3px #999999;
}
p {/* SI */
  font-family: Verdana;
  font-size: 8pt;
}

.box1 { /* SI */
  border: 5px solid grey;
  border-radius: 20px;
  display: block;
  margin: auto; /*Keeps in center*/
  width: 800px;
  min-height: 1017px;
  background-color: #EEEEEE;
}


.banner {/* SI */
  background-image: url("rancidbannerbg.png");
  height: 50px;
}

.banner img { /* SI */
  display: block;
  margin: 0px auto 0px;
}

.box1 img {
  margin-right: 5px;
}
.box1 .boxdx {
  position: absolute;
  width: 200px;
  margin-left: 10px;
}

dt {
  font-weight: bold;
  margin-top: 10pt;
}
.box1 .titolo {
  background-image: url("rottenlargebg.png");
  background-repeat: repeat-x;
  border-radius: 7px 0px 0px 0px;
  height: 83px;
}

/*  33%  */
.box1 .titolo span {
  vertical-align: top;
  font-size: 48pt;
  font-weight: bold;
  color: red;
}

.box1 .prima-colonna { /* Primera columna */
  position: absolute;
  width: 260px;
  margin-left: 10px;
  margin-right: 5px;
}
.box1 .seconda-colonna { /* Segunda columna */
  position: absolute;
  width: 260px;
  margin-left: 285px;
  margin-right: 8px;
}
.box1 .prima-colonna img {
  float: left;
  margin-right: 5px;
}
.box1 .seconda-colonna img {
  float: left;
}
.box1 .prima-colonna .quote {
  min-height: 25px;
  padding: 5px;
  margin-right: 8px;
  font-size: 10pt;
  font-family: Georgia, Times New Roman, sans-serif;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
}

.box1 .seconda-colonna .quote {
  min-height: 25px;
  padding: 5px;
  margin-right: 8px;
  font-size: 10pt;
  font-family: Georgia, Times New Roman, sans-serif;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
}
.review  {
  margin-bottom: 20pt;
}
.review img {
  margin-right: 5px;
  float: left;
}
.review span {
  vertical-align: top;
  font-style: italic;
}
.quote img {
  margin-right: 5px;
  float: left;
}
/* Derecha */
#Info {
  background-color: #A2B964;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px 7px 0px 0px;
  height: 975px;
  position: absolute;
  margin-left: 550px;
  width: 250px;
}
#Info img {
  border-radius: 0px 7px 0px 0px;
}
.box1>.conta {
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  position: relative;
  background-color: #A2B964;
  text-align: center;
  top: 975px;
}
.footer {
  font-size: 25%;
  opacity: 0.5;
  position: fixed;
  right: 0;
  bottom: 0;
}
.link {
  list-style-type: none;
}
